body {
  margin: 0;
  background-color: #0d0d0d;
  color: #e0e0e0;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 25px;
  background: #000;
  border-bottom: 2px solid #d00000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #d00000;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
}

.title {
  color: #d00000;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #888;
  margin-bottom: 40px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.feature-box {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  border-top: 3px solid #d00000;
}

.belt-card {
  background: #1a1a1a;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.belt-card:hover {
  border-color: #d00000;
  transform: scale(1.02);
}

.belt-card.active {
  background: #252525;
  border-color: #d00000;
  box-shadow: 0 0 20px rgba(208, 0, 0, 0.2);
}

.kanji-bg {
  font-size: 2.5rem;
  color: #d00000;
  opacity: 0.6;
  min-width: 50px;
}

.description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  color: #aaa;
  margin-top: 0;
}

.description.show {
  max-height: 100px;
  opacity: 1;
  margin-top: 10px;
}


.code-card {
  background: #111;
  padding: 30px;
  border: 1px solid #d00000;
  border-radius: 20px;
}

.dojo-list li {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.oss-text {
  text-align: center;
  font-size: 2rem;
  color: #d00000;
  margin-top: 20px;
}